/* 
 * Styles for data that is represented as text
 */
 
/* Style for headers */
.header-text {
    font-family: Roboto, sans-serif;
    font-size: 30px;
    color: #212121;
}

.subheader-text {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: #212121;
}

.link {
  font-weight: bold; }

/* Footer text's style */
.footer-text {
    text-align: right;
	line-height: 60%
}


/* Styles for text fields in columns */
.col h2 {
    font-family: "Arial";
    font-size: 20px;
    text-align: center;
    color: #20639B;
}

.project a:link, a:visited {
    color: blue;
    text-decoration: underline;
}

.project a:hover, a:active {
    color: #20639B;
    text-decoration: underline;
}

.project span {
    color: #151515;
}

/* Styles for articles headers */
.article {
	padding-top: 0.4em;
}

.article a {
	font-weight: bold;
}

.p {
	margin-bottom:1.5em
}

.no-underline {
	text-decoration: none;
}